.Traitsdata-container{
    margin: 0;
    padding: 0;
    position:relative;

    height: fit-content;
    width: fit-content;
}

.Traitsdata-ability-title{
    color: var(--font-color);
    font-size: 13px;
}
.Traitsdata-str-title{
    position: absolute;
    left: 50px;
    top: 41px;
}
.Traitsdata-dex-title{
    position: absolute;
    left: 50px;
    top: 69px;
}
.Traitsdata-men-title{
    position: absolute;
    left: 140px;
    top: 41px;
}
.Traitsdata-soc-title{
    position: absolute;
    left: 140px;
    top: 69px;
}

.Traitsdata-ability-data{
    color: var(--font-color);
    font-size: 10px;

    width: 19px;
    text-align: center;
}
.Traitsdata-str-data{
    position: absolute;
    left: 21.5px;
    top: 42.5px;
}
.Traitsdata-dex-data{
    position: absolute;
    left: 21.5px;
    top: 70.5px;
}
.Traitsdata-men-data{
    position: absolute;
    left: 109.5px;
    top: 42.5px;
}
.Traitsdata-soc-data{
    position: absolute;
    left: 109.5px;
    top: 70.5px;
}

.Traitsdata-ability-SaDist{
    position: absolute;
    left: 12.5px;
    top: 120px;

    height: 165px;
    width: 176px;
    overflow-y: scroll;
    scrollbar-width: none;

    line-height: 12px;
    user-select: none;
}
.Traitsdata-ability-SaDist::-webkit-scrollbar{
    display: none;
}
.Traitsdata-ability-signame{
    color: var(--font-color);
    font-size: 11px;
    padding-top: 5px;
}
.Traitsdata-ability-sigdetails{
    color: var(--data-color);
    font-size: 11px;
}