.TraitsBack-container{
    pointer-events: none;
    user-select: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.PathdistBack-title{
    position: absolute;
    font-size: 13px;

    top: 5px;
    left: 20px;

    width: 160px;
    text-align: center;
}