.Pathdist-container{
    margin: 0;
    padding: 0;
    position:relative;

    height: fit-content;
    width: fit-content;
}

.Pathdist-data{
    position: absolute;
    top: 40px;
    left: 12px;

    height: 243px;
    width: 177px;

    overflow-y: scroll;
    scrollbar-width: none;

    line-height: 12px;
    user-select: none;
}
.Pathdist-data::-webkit-scrollbar{
    display: none;
}

.Pathdist-data-name{
    color: var(--font-color);
    font-size: 13px;
    text-decoration: underline;
}
.Pathdist-data-sfxname{
    color: var(--font-color);
    font-size: 11px;
    padding-top: 5px;
}
.Pathdist-data-sfxdetails{
    color: var(--data-color);
    font-size: 11px;
}
.Pathdist-data-sfxeffect{
    color: var(--font-color);
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
}