.detailsback-container{
    pointer-events: none;
    user-select: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.detailsback-cradleicon{
    position: absolute;
    width: 53px;

    left: 10.5px;
    top: 14.5px;
}

.detailsback-bordericon{
    position: absolute;
    width: 53.5px;

    left: 10.8px;
    top: 14px;
}