:root {
  --background-color: #595959;
  --font-color: hsla(0, 0%, 90%, 0.85);
  --data-color: hsla(0, 0%, 90%, 0.562);
  --textbacking: #1D1D1D; 

  margin: 0;
  padding: 0;
  scrollbar-width: none;

  background-color: var(--background-color);
  color: var(--font-color);

  transform: scale(1.63);
}
:root::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 0;
  margin: 0;
  padding-top: 2px;

  position: absolute;
  left: 50%;
  transform: translate(-50%);

  display: grid;

  grid-column-gap: 5px;
  grid-row-gap: 2px;
  grid-auto-flow: row dense;

  grid-template-columns: 200px 200px;
  grid-template-rows: 90px  300px 200px;
}

.Traitsdata-container{
  grid-column: 1;
  grid-row-start: 2;
}

.Pathdist-container{
  grid-column: 2;
  grid-row-start: 2;
}

.Trackersdata-container{
  grid-column: 1/2;
  grid-row-start: 3;
}