.DetailsTitle-container{
    margin: 0;
    padding: 0;
    position:relative;

    height: fit-content;
    width: fit-content;
}

.Detailsdata-container{
    margin: 0;
    padding: 0;
    position: absolute;
    white-space: pre-line;

    left: 83px;
    top: 15px;
    width: 325px;

    user-select:none;
}

.Detailsdata-titletext{
    color: var(--font-color);
}

.Detailsdata-datatext{
    color: var(--data-color);
}


.Detailsdata-Cname{
    position: absolute;

    top: 0px;
    left: 0px;
}
.Detailsdata-Clan{
    position: absolute;

    top: 0px;
    left: 150px;
}

.Detailsdata-Path{
    position: absolute;

    top: 20px;
    left: 0;
}
.Detailsdata-Stage{
    position: absolute;

    top: 20px;
    left: 176px;
}

.Detailsdata-Auth{
    position: absolute;

    top: 40px;
    left: 0;
}